feedgen/validators/rss_schema.xml

<?xml version="1.0"?>
<!-- 
Filename: rss_schema.xml
Author: J. Cardenzana (C) 2021
TODO:
* Improve representation of date objects
* Include text descriptions for each element
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
    <xs:documentation>
        This schema file documents the schema used for generating and validating
        RSS feeds generated by the feedgen Python library (https://github.com/Jvinniec/feedgen).
    </xs:documentation>
</xs:annotation>

<!-- Item entry definition -->
<xs:element name="item">
    <xs:annotation>
      <xs:documentation>Item elements contain specific entries in the RSS feed. There can be any number of item elements under the 'channel' tag.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
        <xs:all>
            <!-- Required (RSS Standard) -->
            <xs:element name="description" type="xs:string" minOccurs="1"/>
            <xs:element name="link" type="xs:string" minOccurs="1"/>
            <xs:element name="title" type="xs:string" minOccurs="1"/> 

            <!-- Optional (RSS Standard) -->
            <xs:element name="author" type="xs:string" minOccurs="0"/>
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="comments" type="xs:string" minOccurs="0"/>
            <xs:element name="enclosure" type="xs:string" minOccurs="0"/>
            <xs:element name="guid" type="xs:string" minOccurs="0"/>
            <xs:element name="pubDate" type="xs:string" minOccurs="0"/>
            <xs:element name="source" type="xs:string" minOccurs="0"/>

            <!-- Optional (Extra info added by feedgen library) -->
            <xs:element name="src_name" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>Proper name of the RSS feed source</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="src_url" type="xs:string" minOccurs="0">
              <xs:annotation>
                <xs:documentation>URL associated with this entries source</xs:documentation>
              </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:element>

<!-- Channel element definition -->
<xs:element name="channel">
    <xs:complexType>
        <xs:sequence>
            
            <!-- Required -->
            <xs:element name="title" type="xs:string" minOccurs="1"/>
            <xs:element name="link" type="xs:string" minOccurs="1"/>
            <xs:element name="description" type="xs:string" minOccurs="1"/>
            
            <!-- Optional -->
            <xs:element name="category" type="xs:string" minOccurs="0"/>
            <xs:element name="copyright" type="xs:string" minOccurs="0"/>
            <xs:element name="docs" type="xs:string" minOccurs="0"/>
            <xs:element name="generator" type="xs:string" minOccurs="0"/>
            <xs:element name="language" type="xs:string" minOccurs="0"/>
            <xs:element name="lastBuildDate" type="xs:string" minOccurs="0"/>
            <xs:element name="managingEditor" type="xs:string" minOccurs="0"/>
            <xs:element name="pubDate" type="xs:string" minOccurs="0"/>
            <xs:element name="ttl" type="xs:integer" minOccurs="0"/>
            <xs:element name="webMaster" type="xs:string" minOccurs="0"/>
            
            <!-- Item elements, of which there can be many -->
            <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

<!-- Definition of RSS top-level tag structure -->
<xs:element name="rss">
    <xs:complexType>
        <xs:sequence>
            <xs:element ref="channel"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
</xs:element>

</xs:schema>